@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #5f5f5f;
  --third-text-color: #F78065;
  --four-text-color: #ffffff;
  --secondary-background-color: #F78065;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

button {
  border: none;
  font-weight: bold;
  color: var(--four-text-color);
  background-color: var(--secondary-background-color);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--third-text-color);
}

h1, h2, h3 {
  font-weight: bold;
  font-family: "Merriweather";
}